/* --------------------------------------------------------------------------------------
+
+ MAIN
+
-------------------------------------------------------------------------------------- */


/*************************************
**************************************
**************************************

  validation popup

**************************************
**************************************
**************************************/


.popup-email {
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999999;
	.element {
		width: 300px;
		height: auto;
		position: absolute;
		left: 50%;
		margin-left: -150px;
		top: 50%;
		margin-top: -50px;
		background-color: #fff;
		display: block;
		@include radius;
		text-align: center;
		padding: 10px;
		@include bs;
		p {
			color:#000;
			margin-bottom: 20px;
			font-family: $base-font;
		}

		button {
			margin: 0 auto 10px;
			padding: 0 12px;
	        height: 34px;
	        line-height: 30px;
	        font-size: 12px;
	        background-color: #fff;
	        border: 2px solid $main-clr;
	        color: $main-clr;
	        &:hover {
	            background: $main-clr;
	            color: #fff;
	            border: 2px solid $main-clr;

	        }
		}
	}
	.success {
		p {
			color: #15ad9e;
		}
	}
	.error {
		p {
			color: #ea5555;
		}
	}
}

/*************************************
**************************************
**************************************

  scroll to top

**************************************
**************************************
**************************************/



#top {
	background-repeat: no-repeat;
	background-image: url("../images/slider1/arrow2.png");
	background-color: rgba(0, 0, 0, 0.2);
	background-position: 50% 50%;
	opacity: 1;
    bottom: 60px;
    display: none;
    position: fixed;
    right: 30px;
    @include t(.4s);
    border-radius: 5px;
    z-index: 99;
    @include box(45px);
    transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    &:hover {
		background-color: rgba(0, 0, 0, 0.5);

    }
}

/*************************************
**************************************
**************************************

  #subheader section

**************************************
**************************************
**************************************/

#subheader {
	&.background-img {
		background-image: url('http://placehold.it/1921x660');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		@include cover;
	}
	&.patern {
		position: relative;
	    &:before {
	        position: absolute;
	        content: "";
	        width: 100%;
	        height: 100%;
	        background-image: url('../images/texture.png');
	        top: 0;
	        left: 0;
	        display: block;
	        z-index: 9;
	        background-color: rgba(144,178,227,.1);
	    }
	    h2,a {
	    	position: relative;
	    	z-index: 10;
	    }

	}

	width: 100%;
	position: relative;

	.slide-header {
		width: 100%;
		position: absolute;
		bottom: 50px;
		text-align: center;
		left: 0;
		h2 {
			display: block;
			text-align: center;
		}
		a {
			@include lh(50px);
			color: #fff;
			background-color: $fifth-clr;
			@include pie(5px);
			padding: 0 20px;
			font-weight: 700;
			display: inline-block;
			vertical-align: top;

		}
	}

}

/*************************************
**************************************
**************************************

  about section

**************************************
**************************************
**************************************/

#about {
	padding:65px 0 ;
	margin-top: 30px;

	article {
		text-align: center;
	}
	h1 {
		margin-bottom: 86px;
		color: $second-clr;
		position: relative;
		text-align: center;
		font-weight: 500;

		&:after {
			position: absolute;
			content: "";
			top: 73px;
			left: 50%;
			margin-left: -30px;
			width: 60px;
			height: 1px;
			background-color: $second-clr;
		}
	}
}


/*************************************
**************************************
**************************************

  doctors section

**************************************
**************************************
**************************************/

#doctors {
	background-color: $bg-clr-elements;
	padding: 100px 0 70px;

		h1 {
			margin-bottom: 100px;
			color: $second-clr;
			position: relative;
			text-align: center;
			font-weight: 500;
			&:after {
				position: absolute;
				content: "";
				bottom: -50px;
				left: 50%;
				margin-left: -30px;
				width: 60px;
				height: 1px;
				background-color: $second-clr;
			}
		}
	.about-doctors {
		width: 100%;
		height: auto;
		@include t(.5s);
		overflow: hidden;
		.about-doc {
			width: 100%;
			min-height: 450px;
			height: auto;
			padding-bottom: 100px;
			position: absolute;
			@include radius;
			@include fadeout;
			top: 0;
			left: 0;
			overflow: hidden;
			transition: all .4s ease-in;

			.close {
				position: absolute;
				bottom: 36px;
				left: 50%;
				margin-left: -11px;
				color: #b8b8cf;
				font-weight: 400;
				&:hover {
					color: $main-clr;
				}
				span {
					font-size: 20px;
				}
			}
			&.active {
				@include fadein;
				position: relative;
				top: 0;
				left: 0;
				z-index: 100;
				transition: all .4s ease-out .5s;

			}
			div:nth-child(2) {
				float: left;
				width: 540px;
				height: 100%;
				background-color: #fff;
				text-align: center;

				h6 {
					margin-top: 24px;
					margin-bottom: 24px;
					color: $second-clr;
					position: relative;
					text-align: center;

					&:after {
						position: absolute;
						content: "";
						top: 30px;
						left: 50%;
						margin-left: -21px;
						width: 42px;
						height: 1px;
						background-color: $second-clr;
					}
				}
				p {
					color: $main-clr;
					display: block;
					text-align: center;
					font-size: 13px;
				}
			}
			.last{
				float: right;
				width: 537px;
				height: 100%;
				display: block;

				> ul > li {
					padding: 15px 0;

				}
				> ul > li+li {
					border-top:2px solid #dadae6;
				}
				h6 {
					font-size: 16px;
					font-weight: 500;
					color: #585864;
					display: inline-block;
					width: 205px;
					vertical-align: top;
					margin-bottom: 0;

				}
        .h6-subtext {
          color: $subtext-clr;
          font-size: 14px;
          margin: 5px 0;
        }
				p {
					display: inline-block;
					line-height: 1.5;
					width: 327px;
					margin-bottom: 0;
					color: $third-clr;
					font-size: 13px;
					vertical-align: top;

				}
				> ul > li:last-child {
					overflow: hidden;
					text-align: left;
					padding-bottom: 0;
					position: relative;
					span {
						display: block;
						margin-top: 5px;

					}
					img {
						display: inline-block;
					}
					.service-info {
						color: $third-clr;
						margin-left: 15px;
						display: inline-block;
						margin-top: 4px;

					}
					.info {
						background-color: transparent;
						width:auto;
						display: inline-block;
						text-align:left;
						margin-bottom: 0;
					}
					a {
						display: inline-block;
						background-color: transparent;
						height: 50px;
						line-height: 47px;
						font-size: 14px;
						position: absolute;
						bottom: 0;
						right: 1px;
						font-weight: 700;
						&:hover {
							background-color: $main-clr;
						}
					}
				}
			}
		}
	}

  .service-img {
    max-width: 100%;
  }

	#team {
		.id {
			position: absolute;
			bottom: -52px;
			left: 0;
			background-color: #fff;
			width: 100%;
			text-align: center;
			height: 150px;
			@include t(.2s);
			z-index: 3;
		}
		h6 {
			margin-top: 24px;
			margin-bottom: 24px;
			color: $second-clr;
			position: relative;
			text-align: center;
			font-weight: 500;

			&:after {
				position: absolute;
				content: "";
				top: 30px;
				left: 50%;
				margin-left: -21px;
				width: 42px;
				height: 1px;
				background-color: $second-clr;
			}
		}
		p {
			color: $main-clr;
			display: block;
			text-align: center;
			font-size: 13px;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
		}
		a {
			font-weight: 700;
			height: 34px;
			line-height: 30px;
			@include bs;
		}
		.doct {
			position: relative;
			width: 255px;
			height: 350px;
			display: block;
			cursor: pointer;
			&:before {
				position: absolute;
				content: "";
				z-index: 2;
				background: $main-clr-rgb;
				top: -400px;
				left: 0;
				width: 100%;
				height: 305px;
				@include t(.2s);
				background-image: url('../images/plus.png');
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}

		}
		li {
			display: inline-block;
			width: 255px;
			height: 450px;
			background-color: #fff;
			margin-left: 30px;
			@include pie(4px);
			overflow: hidden;
			margin-bottom: 25px;
			position: relative;
			&:hover {
				.doct {
					&:before {
						top: 0;

					}
				}
				.id {
					bottom: 7px;
					left: 0;


				}
			}
		}
		// .wrap1 {

		// }
		li:nth-child(4n+1) {
			margin-left: 0;

		}

	}
}


/*************************************
**************************************
**************************************

  appoitment section

**************************************
**************************************
**************************************/

#appoitment {
	width: 100%;
	background-color: $main-clr;
	padding: 60px 0;

	h3 {
		display: inline-block;
		vertical-align: top;
		margin-bottom: 0;
		font-weight: 500;
		margin-top: 10px;
		font-size: 27px;
	}
	div {
		a {
			display: inline-block;
			vertical-align: top;
			font-weight: 700;
			line-height: 47px;

			&:hover {
				background-color: #fff;
				color: $main-clr;
			}
		}
	}
}

/*************************************
**************************************
**************************************

  description section

**************************************
**************************************
**************************************/

#description {
	width: 100%;
	padding: 100px 0;
	text-align: center;
	overflow-x: hidden;
	height: auto;
	@include cover;
	z-index:-1;
	position: relative;
  background-image: url("../images/WhatYouSay.jpg");

	&:before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background-image: url('../images/texture.png');
		top: 0;
		left: 0;
		display: block;

	}
	&:after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $main-clr-rgb;
		display: block;

	}
	h1 {
		margin-bottom: 80px;
		color: #fff;
		position: relative;
		text-align: center;
		font-weight: 500;
		z-index: 2;

		&:after {
			position: absolute;
			content: "";
			top: 73px;
			left: 50%;
			margin-left: -30px;
			width: 60px;
			height: 1px;
			background-color: #fff;
		}
	}

}



/*************************************
**************************************
**************************************

  theme section

**************************************
**************************************
**************************************/

#theme {
	width: 100%;
	padding:65px 0;
	overflow: hidden;
	h3 {
		text-transform: uppercase;
		color: $second-clr;
		margin-bottom: 0;
		display: inline-block;
		@include lh(50px);
		font-weight: 500;
	}
	a {
		width: 200px;
		height: 50px;
		line-height: 47px;
		border: 2px solid $second-clr;
		color: $second-clr;
		font-weight: 700;

		&:hover {
			color: #fff;
			background-color: $second-clr;
		}
	}

}
