/* --------------------------------------------------------------------------------------
+
+ LAYOUT
+
-------------------------------------------------------------------------------------- */

@include sticky-footer(auto, ".layout", ".layout_footer", "footer");
main {
	padding-top: 50px;
}
.container {
    margin: 0 auto;
    width: $page-width;
    min-width: $page-width;
    @include bs;
}

.left {
	float: left;

}

.right {
	float: right;

}
