#subheader {

    /* 
    *  Owl Carousel - Animate Plugin
    */
    .owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    .owl-carousel .owl-animated-in {
    z-index: 0;
    }
    .owl-carousel .owl-animated-out {
    z-index: 1;
    }
    .owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    }

    @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
    }
    @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
    }

    /* 
    *  Owl Carousel - Auto Height Plugin
    */
    .owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
    }

    /* 
    *  Core Owl Carousel CSS File
    */ 
    .owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
    height: 100%;
    .item {
      position: relative;
      height: 100%;
      &:before {
        position: absolute;
        content: ""; 
        width: 100%;
        height: 100%;
        background-image: url('../images/texture.png');
        top: 0;
        left: 0;
        display: block;
        z-index: 9;
        background-color: rgba(144,178,227,.1);
      } 
    }
    .owl-dots {
        text-align: center;
        display: none;
      //   .owl-dot {
      //     display: inline-block;
      //     margin: 23px 8px 0;
      //     span { 
      //       width: 14px;
      //       height: 14px;
      //       -moz-border-radius: 7px / 7px 7px 7px 7px;
      //       -webkit-border-radius: 7px / 7px 7px 7px 7px;
      //       border-radius: 7px / 7px 7px 7px 7px; /* border radius */
      //       display: inline-block;
      //       @include ht;
      //       cursor: pointer;
      //       background-color: #e1e1e1;
      //       @include t(.4s); 
      //       display: inline-block;
            
      //     }
      //     &:hover {
      //       span {
      //         background-color: #9b9b9b;
              
      //       }
      //     }
      //     &.active {
      //       span {
      //         background-color: #9b9b9b;
              
      //       }
      //     }

      //   }
      }
    }
    .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    height: 100%;
    }
    .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    }
    .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
    height: 100%;
    }
    .owl-carousel .owl-controls .owl-nav .owl-prev,
    .owl-carousel .owl-controls .owl-nav .owl-next,
    .owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    }

    .owl-carousel .owl-controls .owl-nav .owl-prev,
    .owl-carousel .owl-controls .owl-nav .owl-next {
      @include ht;
      width: 44px;
      height: 45px;
      background: rgba(0,0,0,0.3);
      display: block!important;
      top: 50%;
      margin-top: -22px;
      position: absolute;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-transition: background-color .4s ease-in-out;
      -moz-transition: background-color .4s ease-in-out;
      -ms-transition: background-color .4s ease-in-out;
      -o-transition: background-color .4s ease-in-out;
      transition: background-color .4s ease-in-out;
      z-index: 5;
      &:hover {
        background-color: rgba(0,0,0,0.6);
      }

    }
    .owl-prev {
    left: 0;
    background-position: 40% 50%!important;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0; /* border radius */ 
    background-image: url('../images/slider1/arrow1.png')!important;
    }
    .owl-next {
    right: 0;
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px; /* border radius */
    background-image: url('../images/slider1/arrow2.png')!important;
    background-position: 60% 50%!important;
    }
    .owl-carousel.owl-loaded {
    display: block;
    }
    .owl-carousel.owl-loading {
    opacity: 0;
    display: block;
    }
    .owl-carousel.owl-hidden {
    opacity: 0;
    }
    .owl-carousel .owl-refresh .owl-item {
    display: none;
    }
    .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    }
    .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    }
    .owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    }
    .owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    }
    .owl-carousel.owl-rtl {
    direction: rtl;
    }
    .owl-carousel.owl-rtl .owl-item {
    float: right;
    height: 600px;
    position: relative;

    }
    .item {
    .browse-images {
      height: 100%!important;
      width: 100%!important;
      display: block;
      background-size: cover!important;
      background-position: 50% 50%!important;
    }
    .main-app {
      padding: 0 20px; 
      @include lh(50px);
      background-color: $fifth-clr;
      font-family: $base-font;
      font-weight: 700;
      color: #fff;
      display: inline-block;
      @include radius;
      position: absolute;
      bottom: 50px;
      left: 50%;
      z-index:10;
      margin-left: -100px;
      &:hover {
        background-color: #e04f00;
      }
    }
    .slide-header {
      width: 50%;
      margin-left: 25%;
      position: absolute;
      bottom: 130px;
      text-align: center;
      z-index:10;
      
    }
    h2 {
      font-weight: 500;
      margin-bottom: 0;
    }

    }

    /* No Js */
    .no-js .owl-carousel {
    display: block;
    }

    /* 
    *  Owl Carousel - Lazy Load Plugin
    */
    .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
    }
    .owl-carousel .owl-item img {
    transform-style: preserve-3d;
    }

    /* 
    *  Owl Carousel - Video Plugin
    */
    .owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
    }
    .owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease;
    }
    .owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3);
    }
    .owl-carousel .owl-video-playing .owl-video-tn,
    .owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
    }
    .owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
    }
    .owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    }

    }

    .animated  {
    -webkit-animation-duration : 1000 ms  ;
    animation-duration : 1000 ms  ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  ;
    }  
    /* .owl-animated-out - only for current item */ 
    /* This is very important class. Use z-index if you want move Out item above In item */ 
    .owl-animated-out {
    z-index : 1 
     }
    /* .owl-animated-in - only for upcoming item
    /* This is very important class. Use z-index if you want move In item above Out item */ 
    .owl-animated-in {
    z-index : 0 
     }
    /* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 
    .fadeOut  {
    -webkit-animation-name : fadeOut  ;
    animation-name : fadeOut  ;
    }  
    @-webkit-keyframes  fadeOut  {
    0% {
      opacity : 1   ;
    }  
    100% {
      opacity : 0   ;
    }  
    }
    @keyframes  fadeOut  {
    0% {
      opacity : 1   ;
    }  
    100% {
      opacity : 0   ;
    }  
}

.veterinary {
    #subheader {
      .main-app {
        
        background-color: #c23571;
        
        &:hover {
          background-color: #b1396c;
        }
      }
    }
}

.dental {
    #subheader {
      .main-app {
        
        background-color: #e14545;
        
        &:hover {
          background-color: #c94040;
        }
      }
    }
}

.pharm {
    #subheader {
      .main-app {
        
        background-color: #e79a32;
        
        &:hover {
          background-color: #c88428;
        }
      }
    }
}