/* --------------------------------------------------------------------------------------
+
+ MIXINS
+
-------------------------------------------------------------------------------------- */

//SELECTED TEXT MIXIN
@mixin selected-text {
    ::-moz-selection {
        background: $selected-text-bgr;
        color: $selected-text-clr;
        text-shadow: none;
    }
    ::selection {
        background: $selected-text-bgr;
        color: $selected-text-clr;
        text-shadow: none;
    }
}

//UNSELECTABLE
@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

//PLACEHOLDER INPUT
@mixin input-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin clear {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin box($var) {
    width: $var;
    height: $var;
    display: block;
}
@mixin t($var) {
    transition: all $var ease;
    -webkit-transition: all $var ease;
}
@mixin nt {
  transition: none;
  -webkit-transition: none;
}

@mixin pie($rad) {
    behavior: url("../PIE.htc");
    position: relative;
    border-radius: $rad;
}

@mixin pie-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin cover {
  background-size: cover;
  -ms-behavior: url(../js/backgroundsize.htc);
}

/* Borders */
@mixin bd { border: 1px solid $border; }
@mixin bdt { border-top: 1px solid $border; }
@mixin bdb { border-bottom: 1px solid $border; }
@mixin bdl { border-left: 1px solid $border; }
@mixin bdr { border-right: 1px solid $border; }

@mixin radius {
    border-radius: $radius;
    background-clip: padding-box;
}

@mixin circle {
    border-radius: 50%;
    background-clip: padding-box;
}

@mixin curve($rad) {
    border-radius: $rad;
    background-clip: padding-box;
}

@mixin borders {
    border-radius: $radius;
    background-clip: padding-box;
    border: 1px solid $border;
}

/* hover opacity *///
@mixin ho($opac) {
    @include trans;

    &:hover {
        opacity: $opac;
    }
}

/* hover color */
@mixin hc($color) {
    @include trans;

    &:hover {
        color: $color;
    }
}

/* TRIANGLES */
@mixin triangles {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    position: absolute;
}

@mixin fadeout {
  visibility: hidden;
  opacity: 0;
  @include t(.4s);
}
@mixin fadein {
  visibility: visible;
  opacity: 1;
}

@mixin tt($w1, $w2, $clr) {
    @include triangles;
    border-width: 0 $w1 $w2 $w1;
    border-color: transparent transparent $clr transparent;
}
@mixin tb($w1, $w2, $clr) {
    @include triangles;
    border-width: $w2 $w1 0 $w1;
    border-color: $clr transparent transparent transparent;
}
@mixin tr($w1, $w2, $clr) {
    @include triangles;
    border-width: $w1 0 $w1 $w2;
    border-color: transparent transparent transparent $clr;
}
@mixin tl($w1, $w2, $clr) {
    @include triangles;
    border-width: $w1 $w2 $w1 0;
    border-color: transparent $clr transparent transparent;
}

/* LINE-HIGH */
@mixin lh($line-height) {
  height: $line-height;
  line-height: $line-height;
}

/* BOX SIZING */
@mixin bs {
  box-sizing: border-box;
}

/* HIDE TEXT*/
@mixin ht {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

@mixin sticky-footer($footer-height, $root-selector: unquote("#root"), $root-footer-selector: unquote("#root_footer"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%;
  }
  #{$root-selector} {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$root-footer-selector} {
      height: $footer-height;
    }
  }
  #{$footer-selector} {
    clear: both;
    position: relative;
    height: $footer-height;
  }
}


// SPRITES
// $departments-spacing: 10px;
// $departments-layout: horizontal; //vertical is default, smart(third option)
// @import "departments/*.png";
// @include all-departments-sprites(true);
